<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleId</key>
	<string>826906215@qq.com</string>
	<key>artistId</key>
	<integer>518213359</integer>
	<key>artistName</key>
	<string>什么值得买</string>
	<key>bundleDisplayName</key>
	<string>什么值得买</string>
	<key>bundleShortVersionString</key>
	<string>5.3</string>
	<key>bundleVersion</key>
	<string>10.3</string>
	<key>copyright</key>
	<string>2010-2014 什么值得买.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>商品指南</string>
	<key>genreId</key>
	<integer>6022</integer>
	<key>itemId</key>
	<integer>518213356</integer>
	<key>itemName</key>
	<string>什么值得买-SMZDM网购商品指南</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>什么值得买</string>
	<key>playlistName</key>
	<string>什么值得买-SMZDM网购商品指南</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2015-03-04T12:40:37Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-05-18T20:07:08Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a804.phobos.apple.com/us/r30/Purple3/v4/49/5d/41/495d415e-dc34-d28d-c3ce-cac1b45d8443/AppIcon57x57.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.smzdm.client.ios</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>811677437</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>7483832</integer>
		<integer>9749261</integer>
		<integer>11597634</integer>
		<integer>12584528</integer>
		<integer>13023655</integer>
		<integer>14989551</integer>
		<integer>15370667</integer>
		<integer>15694285</integer>
		<integer>15830883</integer>
		<integer>16208632</integer>
		<integer>92572735</integer>
		<integer>162282633</integer>
		<integer>261382657</integer>
		<integer>339732648</integer>
		<integer>461002643</integer>
		<integer>478122648</integer>
		<integer>693073756</integer>
		<integer>750892641</integer>
		<integer>770402689</integer>
		<integer>811267552</integer>
		<integer>811479036</integer>
		<integer>811677437</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1425472200000&amp;sf=143465</string>
	<key>userName</key>
	<string>皓琰 许</string>
	<key>vendorId</key>
	<integer>640944</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
